APP_ENV=dev
CITY_NAME=Almaty, Kazakhstan
GRAPH_FILE=artifacts/graph/almaty_walk.graphml
MODEL_DIR=artifacts/models/navigation
CACHE_DIR=artifacts/cache
OSMNX_NETWORK_TYPE=walk
OVERPASS_RATE_LIMIT=true
