<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>InKomek</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>InKomek</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>InKomek использует ваше местоположение для построения доступных маршрутов и навигации.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>InKomek использует ваше местоположение в фоновом режиме для отслеживания маршрута и обнаружения аномалий.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>InKomek использует ваше местоположение для навигации и обнаружения аномалий маршрута.</string>
	<key>NSCameraUsageDescription</key>
	<string>InKomek использует камеру для фотографирования проблем доступности.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>InKomek использует галерею для выбора фотографий проблем доступности.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>InKomek использует микрофон для голосового управления и ввода.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>InKomek использует распознавание речи для голосовых команд.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
